

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	  
}

#headline1{
	background-color: #bf033b;
	background-image: linear-gradient(315deg, #bf033b 0%, #ffc719 74%);
	font-weight: bold;
	font-size: 1.5rem;
	border-radius: 5rem;
}

#marquee1{
	  margin: auto 15rem;
    width: 16rem;
}

#form1{
	visibility: hidden;
	margin-right: 2rem;
}

header nav{
	height: 3rem;
}

body{
	margin: auto;background-color: #4d4855;
	background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
	background-size: cover;
	background-attachment: fixed;
	text-align: center;

}

/*oncrolling progress bar*/
body .progress-container{
	width: 100%;
    height: 0.4rem;
    background-color: #182b2b;
    position: fixed;
	top: 0;
	z-index: 1;
}

body .progressbar{
	background-color: #bb7850;
	height: 0.4rem;
}

/*this is image gallery*/

/* The grid: Four equal columns that floats next to each other */
.column {
  /*float: left;*/
  width: 25%;
  padding: 0.8vw;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
  border-radius: 1.1rem;
  
}

.column img:hover {
  opacity: 1;
  }

main .row{
	/*width: 65rem;*/
	margin: 0 7rem;
	border-radius: 1.5rem;

}
main .row div{
	border: 1px solid rgb(50, 100, 50, 0.7);
	border-radius: 0.8rem;
}
/* Clear floats after the columns */
main .row:after {
  content: "";
  display: table;
  clear: both;

}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: relative;
  bottom: 0.5rem;
  /*left: 25em;*/
  color: orangered;
  font-size: 1.2rem;
  font-style:italic ;
  font-family: cursive;
  margin: auto;
  
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 0.5rem;
  right: 1.11rem;
  color: white;
  font-size: 2.2rem;
  cursor: pointer;
}

/*this is end of image gallery*/

/*---------------------------fieldart start----------------*/
#hr1{
	margin:auto; 
	border:0.1rem darkmagenta dashed;
}

#fieldart{
	border-radius: 2.5rem;
	width: 65rem;
	height: 35rem;
	backdrop-filter: blur(40rem);
	margin: auto;
	background-color: rgb(0, 0, 0, 0.4);
	padding:2.0rem 0 0 0;
}

legend{
	
	text-align: center;
	color: whitesmoke;
	font-size: 3vw;
}

#pre{
	font-size: 1.3vw;
	color: royalblue;
	/*padding: 30px;*/
	word-spacing: 0.2rem;
	letter-spacing: 0.12rem;
	padding: 0 5rem;
	text-align: justify;
}
/*---------------------------fieldart end---------------------*/


