/*---------------------------------start---------------------------------*/

@media screen and (max-width: 904px){
	html{
		display: flex;
	}
	#marquee1{
		padding-left: 0rem;
		width: 25rem;	
	}
	.clearfix{
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 1.5rem;
		
	}
	#popdiv input[type=text]:focus, input[type=password]:focus {
	   font-size: 0.8rem;
	}

	.navbar{
		display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
	}

	#expandedImg{
		width: 35rem;
	}

	.column{
		padding: 0.9rem;
	}

	#fieldart{
		border-radius: 2.5rem;
		width: 38rem;
		height: 35rem;
		backdrop-filter: blur(40rem);
		margin: auto;
		background-color: rgb(0, 0, 0, 0.4);
		padding:2.0rem 0 0 0;
	}

	legend{
		font-size: 1.2rem;
	}

	#pre{
		font-size: 0.9rem;
	}
	footer .footer-row{
		display: flex;
		flex-wrap: wrap;
		gap: 3rem;
	}

}

@media (max-width: 616px){

	#fieldart{
			width: 25%;
			margin:auto;
	}

	#expandedImg{
		width: 22rem;
	}

	main .row{
		margin: 1rem;
	}

	main .column img{
		border-radius: 0.5rem;
	}
	.clearfix{
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		gap: 1.5rem;
		flex-wrap: wrap;
		align-content: center;
	}

	.column{
		padding: 0.25rem;
	}

	#fieldart{
		border-radius: 2.5rem;
		width: 45.2rem;
		backdrop-filter: blur(40rem);
		margin: auto;
		background-color: rgb(0, 0, 0, 0.4);
		padding:2.0rem 0 0 0;
	}

	legend{
		font-size: 1.42rem;
	}

	#pre{
		font-size: 1.2rem;
		padding: 0 2rem 1rem 2rem;
	}


}



@media(max-width: 484px){
	.footer-col{
			width: 100%;
	}
	header .models {
		width: 20rem;
	}
	#popdiv .container{
		width: 18rem;
	}
	hr {
		max-width: 26%;
	}
	
}
